<style type="text/css">
    body {

    }
    *{
        color:darkblue;
        font-family: verdana;
        background: lightblue;
    }
    h1 {
        color:MidnightBlue;
        text-align: center;
    }
    p {
        margin: 40px;
    }

</style>
